<div class="slider-section" *ngIf="games && games.length > 0">
  <div class="slider-header">
    <h2>{{ title }}</h2>
    <div class="navigation-buttons">
      <button mat-raised-button color="accent" (click)="onSeeMore()" class="see-more-button">
        All games
      </button>
      <button mat-fab color="primary" (click)="previousSlide()" class="nav-button">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="nextSlide()" class="nav-button">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="games-slider">
    <div #slickCarousel class="slick-carousel">
      <div *ngFor="let game of games; trackBy: trackByGameId" class="slide-item">
        <app-game-card [game]="game"></app-game-card>
      </div>
    </div>
  </div>
</div>
